// framework
@import 'power-prefixer';
@import 'functions';

// CSS values
$max-width: 1200px;

// color scheme
$darkgray: #51566c;
$gray: #676d86;
$lightgray: #a6a9b7;
$red: #b71a49;
$blue: #00638d;
$orange: #f39100;
$green: #4aad32;

// reset browser styles and overwrite with generic HTML
@import 'reset';
@import 'fonts';
@import 'generic';

// load resources
@import 'icons';

// custom styles
@import 'navigation';
@import 'sections';